#bgset1{
   background: #f3f9f9;
}

#bgset2{
   background: #f3f9f9;
}

#bgset3{
   background: #f3f9f9;
}

.dark-bg{
   background: #2e2f31;

}

.h2{
      color: white;
}

.hh{
   background: #d0dcd8;
}

#topp{
   background: #ffd9f1;
}